.button {
  padding: 5px 10px;
}

.counter {
  width: 100px;
  height: 100px;
  background-color: wheat;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
